<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title th:value="${product.name}"></title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="mb-5">
            <h4 th:if="${product.name == null}">Dodawanie nowego produktu</h4>
            <h4 th:text="${'Modyfikacja produktu &quot' + product.name + '&quot'}"
                    th:if="${product.name != null}"></h4>
            </div>
                <form th:action="@{/products/save}" th:object="${product}" method="post"
                      enctype="multipart/form-data">
                    <input type="hidden" name="product-id" th:value="${product.id}" th:field="*{id}">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col">
                                    <img th:style="${product.name != null} ? 'display:block' : 'display:none'"
                                         id="photoOfProduct"
                                         th:src="@{${product.photo != null} ? '/api/products/product/' + ${product.id} + '/photo' : '/images/deafult_product_photo.png'}"
                                         class="rounded img-fluid" alt="Brak zdjęcia">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <span class="row m-1">Edytuj zdjęcie</span>
                                        <div class="fileInput">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-primary" type="button">Przeglądaj</button>
                                                    <input class="row m-1 d-none" type="file" id="productPhoto"
                                                           name="productPhoto" accept="image/*"/>
                                                </div>
                                                <input type="text" class="form-control" disabled="disabled">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="name">Nazwa</label>
                                        <input type="text" class="form-control" id="name" th:field="*{name}"
                                               th:value="*{name}"
                                               required="required"/>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="categoryId">Kategoria</label>
                                        <select class="form-control" id="categoryId" name="categoryId">
                                            <th:block th:each="category : ${categories}">
                                                <option th:if="${category} != null" th:text="${category.fullName}"
                                                        th:value="${category.id}"
                                                        th:selected="${product.category.id == category.id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="price">Cena</label>
                                        <input type="number" step="0.01" min="0.01" class="form-control" id="price"
                                               th:field="*{price}"
                                               th:value="*{price}" required="required"/>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="categoryId">Jednostka</label>
                                        <select class="form-control" th:field="*{unit}">
                                            <option th:selected="${product.unit==T(zpi.adminwebshop.product.Product.Unit).PIECE}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Unit).PIECE}">Sztuka
                                            </option>
                                            <option th:selected="${product.unit==T(zpi.adminwebshop.product.Product.Unit).KILOGRAM}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Unit).KILOGRAM}">
                                                Kilogram
                                            </option>
                                            <option th:selected="${product.unit==T(zpi.adminwebshop.product.Product.Unit).GRAM}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Unit).GRAM}">Gram
                                            </option>
                                            <option th:selected="${product.unit==T(zpi.adminwebshop.product.Product.Unit).LITER}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Unit).LITER}">Litr
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="categorySelect">Dostępność</label>
                                        <select class="form-control" th:field="*{status}" id="categorySelect">
                                            <option th:selected="${product.status==T(zpi.adminwebshop.product.Product.Status).AVAILABLE}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Status).AVAILABLE}">
                                                Dostępny
                                            </option>
                                            <option th:selected="${product.status==T(zpi.adminwebshop.product.Product.Status).UNAVAILABLE}"
                                                    th:value="${T(zpi.adminwebshop.product.Product.Status).UNAVAILABLE}">
                                                Niedostępny
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <label for="barcode">Kod kreskowy</label>
                                        <input type="text" class="form-control" id="barcode" th:field="*{barcode}"
                                               th:value="*{barcode}"
                                                pattern="([0-9]{8})|([0-9]{13})"
                                                title="Kod musi mieć 8 lub 13 cyfr"/>
                                        <th:block th:if="${errors != null}">
                                            <div class="invalid-feedback" th:styleappend="${errors['barcode'] == 5 ? 'display: inline;' : ''}">
                                                Proszę wpisać poprawny kod EAN8 lub EAN13
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="description">Opis</label>
                                        <textarea class="form-control" id="description" th:field="*{description}"
                                                  th:value="*{description}"
                                                  rows="5"></textarea>
                                        <button type="submit" class="btn btn-primary mt-3 float-right">Zapisz</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</section>
<div layout:fragment="additional-scripts">
    <script src="/js/file-input-formatter.js"></script>
</div>
</body>
</html>