<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>Lista produktow</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${messageCode != null}" class="alert alert-info alert-dismissible fade show" role="alert">
            <th:block  th:switch="${messageCode}">
                <th:block th:case="1">Produkt usunięty</th:block>
                <th:block th:case="0">Produkt zapisany</th:block>
            </th:block>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="mb-5">
            <h4>Lista produktów</h4>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 mb-4">
                <form th:action="@{/products}" method="get" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="text" name="productOrCategoryName" class="form-control"
                               placeholder="Nazwa produktu lub kategorii">
                        <input class="btn btn-primary" type="submit" value="Szukaj">
                    </div>
                </form>
            </div>
            <div>
                <a class="btn btn-success mb-4" href="/products/add">Dodaj produkt</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Jednostka</th>
                <th scope="col">Status</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Usuń</th>
            </tr>
            </thead>
            <tbody th:each="product : ${products}">
            <tr class="clickable-row"
                th:onclick="'window.location.href = \'' + @{/products/product/{id}(id=${product.id})} + '\''">
                <th scope="row" th:text="${product.id}"></th>
                <th th:text="${product.name}"></th>
                <td th:text="${#numbers.formatDecimal(product.price, 1, 2)   + ' zł'}"></td>
                <th:block th:switch="${product.unit}">
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).KILOGRAM}">Kilogram</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).GRAM}">Gram</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).PIECE}">Sztuka</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).LITER}">Litr</td>
                </th:block>
                <th:block th:switch="${product.status}">
                    <td th:case="${T(zpi.adminwebshop.product.Product.Status).AVAILABLE}">Dostępne</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Status).UNAVAILABLE}">Niedostępne</td>
                </th:block>
                <td th:text="${product.categoryFullName}"></td>
                <td>
                    <button type="button"
                            class="delete-product-btn btn btn-outline-dark"
                            data-target="#deleteProductModal"
                            data-th-attr="data-product-id=${product.id}, data-product-name=${product.name}">x</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="${products.getTotalPages()==0}">Brak rezultatów</div>
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <li class="disabled"><a href="#" aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--MODAL WINDOW FOR DELETING PRODUCT-->
    <form th:action="@{/products/delete}" method="post">
        <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteProductModalLabel">Usuń Produkt</h5>
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <p id="orderPositionCountWarning"></p>
                                    <input type="hidden" id="idToRemove" name="id" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--MODAL WINDOW FOR DELETING PRODUCT-->
</section>
<div layout:fragment="additional-scripts">
    <script src="/js/async-queries.js"></script>
    <script src="/js/category/modal-handlers.js"></script>
</div>
</body>
</html>