.barcode-image {
    height: 50px;
}

@media print {
    .btn {
        display: none!important;
    }
    tbody th {
        font-weight: normal;
    }
    thead th {
        font-weight: 500;
    }
    .table td, .table th {
        padding: 0.5rem;
    }
    .table tbody {
        border: none!important;
    }
    #order-header {
        margin-bottom: 30px!important;
    }
    .not-printable {
        display: none!important;
    }
}