<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>Lista zamówień</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${messageCode != null}" class="alert alert-info alert-dismissible fade show" role="alert">
            <th:block  th:switch="${messageCode}">
                <th:block th:case="0">Status zapisany</th:block>
            </th:block>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="mb-5">
            <h4 id="list-header"></h4>
        </div>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Imię</th>
                <th scope="col">Data złożenia</th>
                <th scope="col">Planowana data odebrania</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody th:each="order : ${orders}">
            <tr class="clickable-row"
                th:onclick="'window.location.href = \'' + @{/orders/order/{id}(id=${order.id})} + '\''">
                <th scope="row" th:text="${order.id}"></th>
                <td th:text="${order.user.email}"></td>
                <td th:text="${order.user.name}"></td>
                <td th:text="${#dates.format(order.submissionDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#dates.format(order.plannedCollectionDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td>
                    <form method="post" action="/orders/save-status">
                        <input type="hidden" name="order-id" th:value="${order.id}">
                        <select class="form-control autosubmit notPropagabale" id="order-status" name="order-status">
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).SUBMITTED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).SUBMITTED}">Przyjęte
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).READY_TO_COLLECT}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).READY_TO_COLLECT}">Gotowe do
                                odebrania
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).REALISED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).REALISED}">Zakończone
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).CANCELED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).CANCELED}">Anulowane
                            </option>
                        </select>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <nav>
                <ul class="pagination" sd:pagination="full">
                    <li class="disabled"><a href="#" aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<div layout:fragment="additional-scripts">
    <script src="/js/simple-forms.js"></script>
    <script src="/js/orders/change-header-name.js"></script>
</div>
</body>
</html>