<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>Szczegóły zamówienia</title>
    <th:block layout:fragment="additional-links">
        <link rel="stylesheet" th:href="@{/css/order/order_details.css}"/>
    </th:block>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${messageCode != null}" class="alert alert-info alert-dismissible fade show" role="alert">
            <th:block  th:switch="${messageCode}">
                <th:block th:case="0">Status zapisany</th:block>
            </th:block>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h4 id="order-header" class="mb-5" th:text="${'Szczegóły zamówienia nr ' + order.id}"></h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Telefon</th>
                <th scope="col">Data zamówienia</th>
                <th scope="col">Planowana data odbioru</th>
                <th scope="col" class="not-printable">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:text="${order.user.name}"></span> <span th:text="${order.user.surname}"></span></td>
                <td th:text="${order.user.email}"></td>
                <td th:text="${order.user.phoneNumber}"></td>
                <td th:text="${#dates.format(order.submissionDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${#dates.format(order.plannedCollectionDate, 'dd-MM-yyyy HH:mm')}"></td>
                <td class="not-printable">
                    <form method="post" action="/orders/save-status">
                        <input type="hidden" name="order-id" th:value="${order.id}">
                        <select class="form-control" id="order-status" name="order-status">
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).SUBMITTED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).SUBMITTED}">Przyjęte
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).READY_TO_COLLECT}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).READY_TO_COLLECT}">Gotowe do
                                odebrania
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).REALISED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).REALISED}">Zakończone
                            </option>
                            <option th:selected="${order.status==T(zpi.adminwebshop.order.Order.OrderStatus).CANCELED}"
                                    th:value="${T(zpi.adminwebshop.order.Order.OrderStatus).CANCELED}">Anulowane
                            </option>
                        </select>
                        <button class="btn btn-primary mt-3 float-right" type="submit">Zapisz status</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary btn-print float-right mb-2 not-printable" type="submit">Drukuj zamówienie</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Produkt</th>
                <th scope="col">Ilość</th>
                <th scope="col">Cena</th>
                <th scope="col">Jednostka</th>
                <th scope="col">Dostępność</th>
                <th scope="col">Kod kreskowy</th>
            </tr>
            </thead>
            <tbody th:each="orderPosition : ${orderPositions}">
            <tr>
                <th scope="row" th:text="${orderPosition.productName}"></th>
                <td th:text="${orderPosition.amount}"></td>
                <td th:text="${#numbers.formatDecimal(orderPosition.price, 1, 2)} + ' zł'"></td>
                <th:block th:switch="${orderPosition.unit}">
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).KILOGRAM}">Kilogram</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).GRAM}">Gram</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).PIECE}">Sztuka</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Unit).LITER}">Litr</td>
                </th:block>
                <th:block th:switch="${orderPosition.status}">
                    <td th:case="${T(zpi.adminwebshop.product.Product.Status).AVAILABLE}">Dostępne</td>
                    <td th:case="${T(zpi.adminwebshop.product.Product.Status).UNAVAILABLE}">Niedostępne</td>
                </th:block>
                <td>
                    <img th:if="${orderPosition.barcodeImage}"
                         class="barcode-image"
                         th:src="${'data:image/png;base64,' + orderPosition.barcodeImage}"
                         alt="nobarcode" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<div layout:fragment="additional-scripts">
    <script src="/js/printer.js"></script>
</div>
</body>
</html>