<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
    <!--Every link to static resources goes here-->
    <th:block th:fragment="links">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
        <link rel="stylesheet" th:href="@{/css/app.css}"/>
        <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    </th:block>
</head>
<body>
</body>
</html>