<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav-bars</title>

</head>
<body>
<th:block th:fragment="default-nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <img src="/images/icon.svg" class="navbar-icon">
            <a class="navbar-brand ml-3" href="#">
                SzopMobile</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Kategorie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Produkty</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Zamówienia
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/orders/submitted}">Przyjęte</a>
                            <a class="dropdown-item" th:href="@{/orders/ready_to_collect}">Gotowe do odebrania</a>
                            <a class="dropdown-item" th:href="@{/orders/canceled}">Anulowane</a>
                            <a class="dropdown-item" th:href="@{/orders/realised}">Zakończone</a>
                            <a class="dropdown-item" th:href="@{/orders}">Wszystkie</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shop}">Ustawienia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Wyloguj</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</th:block>
</body>
</html>