.bg-dark {
    background-color: #4F5B62 !important;
}

.border-dark {
    border: solid 3px #4F5B62 !important;
}

.card-header:first-child {
    border-radius: 0 !important;
}

.icon-size {
    width: 120px;
}