<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Kategorie</title>
    <th:block layout:fragment="additional-links">
        <link rel="stylesheet" th:href="@{/css/category/categories.css}"/>
    </th:block>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${messageCode != null}" class="alert alert-info alert-dismissible fade show" role="alert">
            <th:block  th:switch="${messageCode}">
                <th:block th:case="0">Kategoria dodana pomyślnie</th:block>
                <th:block th:case="1">Kategoria zmodyfikowana pomyślnie</th:block>
                <th:block th:case="2">Kategoria usunięta</th:block>
            </th:block>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="mb-5">
            <h4>Kategorie produktów</h4>
        </div>
        <div class="row mt-1 mb-3 border p-2">
            <div class="col pl-1">
                <form th:action="@{/addCategory}" method="post" class="form-inline">
                    <div class="form-group">
                        <input th:field="${newCategory.name}" type="text" placeholder="Nazwa"
                               class="form-control form-control-sm" autofocus="autofocus"/>
                    </div>
                    <div class="form-group ml-2">
                        <label for="parentCategoryId">Kategoria Nadrzędna</label>
                        <select class="form-control form-control-sm ml-2 parent-category-select" id="parentCategoryId" name="parentCategoryId">
                            <option th:value="null">Brak</option>
                            <th:block th:each="parentCategory : ${allCategories}">
                                <option th:text="${parentCategory.fullName}"
                                        th:value="${parentCategory.id}"></option>
                            </th:block>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success ml-2 btn-sm">Dodaj</button>
                </form>
            </div>
        </div>
        <div th:replace="category/category_level_fragment :: category-level(categories=${categories},
            allCategories=${allCategories})"></div>
    </div>
    <!--MODAL WINDOW FOR ADD SUBCATEGORY-->
    <form th:action="@{/addCategory}" method="post">
        <div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Dodaj kategorię</h5>
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="modalName" class="col-form-label">Nazwa</label>
                                        <input type="text" class="form-control" th:value="${newCategory.name}"
                                               id="modalName" name="name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="modalParentCategoryId" class="col-form-label">Kategoria
                                            nadrzędna</label>
                                        <select class="form-control" id="modalParentCategoryId" name="parentCategoryId">
                                            <option th:value="null">Brak</option>
                                            <th:block th:each="parentCategory : ${allCategories}">
                                                <option th:text="${parentCategory.fullName}"
                                                        th:value="${parentCategory.id }"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-success">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--MODAL WINDOW FOR ADD SUBCATEGORY-->
    <!--MODAL WINDOW FOR DELETING CATEGORY-->
    <form th:action="@{/deleteCategory}" method="post">
        <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteCategoryModalLabel">Usuń kategorię</h5>
                        <button type="button" class="close" data-dismiss="modal">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col">
                                    <p id="productCountWarning"></p>
                                    <input type="hidden" id="idToRemove" name="id" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Anuluj</button>
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--MODAL WINDOW FOR DELETING CATEGORY-->
</section>
<div layout:fragment="additional-scripts">
    <script src="/js/async-queries.js"></script>
    <script src="/js/category/modal-handlers.js"></script>
    <script src="/js/category/categories.js"></script>
</div>
</body>
</html>