<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Lista zamówień</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>

<th:block th:fragment="category-level (categories, allCategories)"
          th:each="category, status : ${categories}" >
    <div class="row mt-m1 ml-0 mr-0 border p-2 bg-light">
        <button type="button" class="btn btn-light btn-sm categoryHider"
                th:classappend="${#lists.isEmpty(category.subcategories)} ? 'invisible' : ''">➤</button>
        <div class="col pl-1">
            <form th:action="@{/updateCategory}" method="post" class="form-inline">
                <div class="form-group ml-2 flex-grow-1">
                    <input type="text" th:value="${category.name}" id="name" name="name" class="border-0 bg-light" />
                    <input type="hidden" th:value="${category.id}" id="id" name="id" />
                </div>
                <div class="form-group ml-2">
                    <label for="parentCategoryId">Kategoria nadrzędna</label>
                    <select class="form-control form-control-sm ml-2 parent-category-select" id="parentCategoryId" name="parentCategoryId">
                        <option th:value="null">Brak</option>
                        <th:block th:each="parentCategory : ${allCategories}">
                            <option th:if="${category.id != parentCategory.id
                                and not #lists.contains(category.forbiddenParentCategories, parentCategory)}"
                                    th:text="${parentCategory.fullName}"
                                    th:value="${parentCategory.id}"
                                    th:selected="${category.parentCategory != null
                                                and category.parentCategory.id == parentCategory.id}"></option>
                        </th:block>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ml-2 btn-sm">Zapisz</button>
                <button type="button" class="btn btn-outline-success ml-2 btn-sm float-right" data-toggle="modal"
                        data-target="#newCategoryModal"
                        data-th-attr="data-category-id=${category.id}, data-category-name=${category.name}">✚</button>
                <button type="button"
                        th:disabled="${!#lists.isEmpty(category.subcategories)}"
                        class="delete-category-btn btn btn-outline-danger ml-2 btn-sm float-right"
                        data-target="#deleteCategoryModal"
                        data-th-attr="data-category-id=${category.id}, data-category-name=${category.name}">✕</button>
            </form>
        </div>
    </div>
    <div class="ml-4 mt-0 childCategoryContainer" th:classappend="${category.forbiddenParentCategories.?[id == __${lastModifiedCategoryId}__].isEmpty()} ? 'display-none' : ''">
        <div th:replace="category/category_level_fragment :: category-level(categories=${category.subcategories},
            allCategories=${allCategories})"></div>
    </div>
</th:block>
</body>
</html>