<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8"/>
    <title>Logowanie</title>
    <th:block layout:fragment="additional-links">
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
    </th:block>
</head>
<body>
<section layout:fragment="content">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-4">
                    <img src="/images/icon-shadow.svg" class="mx-auto d-block rounded-circle icon-size">
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card border-dark">
                            <div class="card-header bg-dark text-light">
                                <h3 class="mb-0">Logowanie</h3>
                            </div>
                            <div class="card-body">
                                <form class="form" role="form" id="formLogin" method="POST" action='/login'>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email"
                                               th:class="${param.error} ? 'form-control form-control-lg rounded-0 is-invalid' : 'form-control form-control-lg rounded-0'"
                                               name="email"
                                               id="email" required value='seller@domain.com'>
                                    </div>
                                    <div class="form-group">
                                        <label>Hasło</label>
                                        <input type="password"
                                               th:class="${param.error} ? 'form-control form-control-lg rounded-0 is-invalid' : 'form-control form-control-lg rounded-0'"
                                               id="password" required
                                               name="password" value="password">
                                    </div>
                                    <span th:if="${param.error}"
                                          class="text-danger ">Zły adres email lub hasło</span>
                                    <button type="submit" class="btn btn-dark bg-dark btn-lg float-right" id="btnLogin">
                                        Zaloguj
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>