<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Ustawienia sklepu</title>
    <th:block layout:fragment="additional-links">
        <link rel="stylesheet" th:href="@{/css/shop/shop.css}"/>
    </th:block>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${messageCode != null}" class="alert alert-info alert-dismissible fade show" role="alert">
            <th:block th:switch="${messageCode}">
                <th:block th:case="0">Zmiany zapisane</th:block>
            </th:block>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h3 class="mb-5">Ustawienia sklepu</h3>
                <form class="form" role="form" autocomplete="off" method="post" th:action="@{/shop/save}"
                      th:object="${shop}">
                    <input type="hidden" name="product-id" th:value="${shop.id}" th:field="*{id}">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Nazwa sklepu</label>
                        <div class="col-lg-3">
                            <input class="form-control" type="text" th:value="*{name}" th:field="*{name}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Adres sklepu</label>
                        <div class="col-lg-6">
                            <input class="form-control" type="text" th:value="*{address}" th:field="*{address}">
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-lg-3 col-form-label form-control-label">Godzina, do której przyjmowane są
                            zamówienia na bieżący dzień</label>
                        <div class="time-input justify-content-center align-self-center ml-3">
                            <input class="form-control" type="time" th:value="*{endOrderingTime}"
                                   th:field="*{endOrderingTime}" required>
                        </div>
                        <span class="col-lg-6 align-self-center"><small><em>Zamówienia złożone po tej godzinie, będą zapisywane na następny dzień</em></small></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Zamówienia odbierane są od</label>
                        <div class="time-input ml-3">
                            <input class="form-control" type="time" th:value="*{startCollectingTime}"
                                   th:field="*{startCollectingTime}" required>
                        </div>
                        <label class="col-lg-1 col-form-label form-control-label text-center">do</label>
                        <div class="time-input">
                            <input class="form-control" type="time" th:value="*{endCollectingTime}"
                                   th:field="*{endCollectingTime}" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Dodatowe informacje dla
                            klientów
                            <small><em>np. godziny otwarcia sklepu</em></small>
                        </label>
                        <div class="col-lg-9">
                            <textarea class="form-control" th:value="*{additionalInfo}" th:field="*{additionalInfo}"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col text-right">
                            <input type="reset" class="btn btn-secondary" value="Anuluj">
                            <input type="submit" class="btn btn-primary" value="Zapisz zmiany">
                        </div>
                    </div>
                </form>
            </div>
</section>
</body>
</html>